<a href="https://colab.research.google.com/github/hitesh-choudhary25/Gitam19/blob/master/Python_string_functions(26_06_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**String function - in built functions**

Upper()---return string which all the characters in upper case

lower()---returns string which all the  characters in lower case

In [0]:
str="Anil"

**Boolean functions**

islower()---Method returns the output either true or false, if it is true the given character in lower case and if not it returns false

isupper()---True and False

isnumeric()-- True and False

isalpha()--- True and False(given string need to have only alphabetic character)

istitle()---True and False(given string is in title case )

isspace()---True and False

In [0]:
s = 'Python is a Easy Programming to learn and interesting'
s1 = "python"
print(s.islower())
print(s1.islower())

False
True

In [0]:
s = "Application"
s1 = 'Anil'
s2 = 'ANIL'
print(s.isupper())
print(s1.isupper())
print(s2.isupper())

False
False
True

In [0]:
s = "5678"
s1 = "App5678"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [0]:
s = "Application"
s1 = "App5678"
print(s.isalpha())
print(s1.isalpha())

True
False

In [0]:
s = "Python programming"
s1 = "Python Programming"
print(s.istitle())
print(s1.istitle())

False
True

In [0]:
s = "Python"
s1 = " "
print(s.isspace())
print(s1.isspace())

False
True

**String function**

1.Join() : this method will  concatinate two string.

2.split(): this method return the list of strings that are separated by whitespace.


3.replace()-- this method returns original string with new string.

In [0]:
str = "Python"
print(" ".join(str))

P y t h o n

In [0]:
print(",".join(["Python","Programming","Easy"]))

Python,Programming,Easy

In [0]:
lst = ["",""]
print(",".join(lst))

,

In [0]:
s = "Python Programming is easy to learn"
s1 = "Python,Programming,is,easy,to,learn"
print(s.split())
print(s.split("a"))
print(s1.split(","))

['Python', 'Programming', 'is', 'easy', 'to', 'learn']
['Python Progr', 'mming is e', 'sy to le', 'rn']
['Python', 'Programming', 'is', 'easy', 'to', 'learn']

In [0]:
s = "Python is easy to learn"
lst = s.split()
print(lst)
print(lst.index("is"))

['Python', 'is', 'easy', 'to', 'learn']
1

In [0]:
s = "Python program is easy to learn"
lst = list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [0]:
s = "Python Programming";
print(s.replace("gra","application"))

Python Proapplicationmming

**Tuples in Python**

=>A tuples is sequence of set of objects like list only.

=>The differences of list and tuples are,the tuples cannot be changed unlike list.

=>List will use square brackets hold objects().

=>Tuples uses parenthless to hold objects.

=>Tuples are useful when the given input is only for read purpose

In [0]:
t = ("python","Programming",1989,2019,"Machine learning","AI")
t2 = (1,2,3,4,5)
print(t)
print(t2)
print("t[0] = ",t[0])
print("t[2] = ",t[2])
print("t[-1] = ",t[-1])
print("t[2:-2] = ",t[2:-2])
print("t[1:4] = ",t[1:4])

('python', 'Programming', 1989, 2019, 'Machine learning', 'AI')
(1, 2, 3, 4, 5)
t[0] =  python
t[2] =  1989
t[-1] =  AI
t[2:-2] =  (1989, 2019)
t[1:4] =  ('Programming', 1989, 2019)

In [0]:
t1 = ("python","Programming",1989,2019,"Machine learning","AI")
print(t1)
#t1[2] = 2018
del t1[2]

('python', 'Programming', 1989, 2019, 'Machine learning', 'AI')

TypeError: ignored

In [0]:
t1 = ("python","Programming",1989,2019,"Machine learning","AI")
print(t1)
del t1
print(t1)

('python', 'Programming', 1989, 2019, 'Machine learning', 'AI')

NameError: ignored

In [0]:
t1 = ("Python","Programming")
t2 = (1989,2019,"ML","AI")
t3 = t1+t2
print(t3)

('Python', 'Programming', 1989, 2019, 'ML', 'AI')

**Tuple method**

**1.len(tuple)**:- len of the tuple

**2.max(tuple)**:- returns the max value from  tuple

**3.Min(tuple)**:- It returns min value from tuple

**4.cmp(tuple1,tuple2)**:-returns value as 1 0r -1

In [0]:
t1 = ("python","Programming",1989,2019,"Machine learning","AI")
print(len(t1))

6

In [0]:
t1 = (19,2,1,3,2,4,5)
t2 = ("Python","Programming",214,221,"ML")
print(max(t1))
print(max(t2))

19

TypeError: ignored

In [0]:
t1 = ("python","Programming",1989,2019,"Machine learning","AI")
print(t1)
tuple1=tuple(t1)
print(tuple1)

('python', 'Programming', 1989, 2019, 'Machine learning', 'AI')
('python', 'Programming', 1989, 2019, 'Machine learning', 'AI')

**Python dictionary**

-----------------------------

Dictionary each key is separated with values by colon(:)

User data can be separated from comma operator 

Examples:-

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
print("user1[Name] = ",user1['Name'])
print("user1[EmailID] = ",user1['EmailID'])
print("user1[Age] = ",user1['Age'])
print("user1[MobileNumber] = ",user1['MobileNumber'])

user1[Name] =  Hitesh
user1[EmailID] =  hitesh25choudhary@gmail.com
user1[Age] =  19
user1[MobileNumber] =  9722458266

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
print(user1['EmailID'])
#update the dict object data
user1['EmailID'] = 'Hitesh1@gmail.com'
print(user1['EmailID'])
user1['Address'] = 'Hyderabad' #New entry for an item in dict object
print(user1['Address'])

hitesh25choudhary@gmail.com
Hitesh1@gmail.com
Hyderabad

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
print(user1['EmailID'])
del user1['EmailID']
print(user1['EmailID'])

hitesh25choudhary@gmail.com

KeyError: ignored

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
del user1['EmailID']
user1.clear()
del user1

**Methods of dictionary objects**

**1.len(dictobj)**:-returns number having length

**2.str(dicObj)**:-returns the equalent string to dict object

**3.copy()**:-It copies one dictionary to another dictionary data

**4.items()**:-returns a list

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
print(len(user1))
user1['Address'] = 'Hyderabad'
print(len(user1))

4
5

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
user2 = user1.copy()
print(user1)
print(user2)
user1['Address'] = 'Hyderabad'
print(user1)
print(user2)

{'Name': 'Hitesh', 'Age': '19', 'EmailID': 'hitesh25choudhary@gmail.com', 'MobileNumber': '9722458266'}
{'Name': 'Hitesh', 'Age': '19', 'EmailID': 'hitesh25choudhary@gmail.com', 'MobileNumber': '9722458266'}
{'Name': 'Hitesh', 'Age': '19', 'EmailID': 'hitesh25choudhary@gmail.com', 'MobileNumber': '9722458266', 'Address': 'Hyderabad'}
{'Name': 'Hitesh', 'Age': '19', 'EmailID': 'hitesh25choudhary@gmail.com', 'MobileNumber': '9722458266'}

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
print(user1.items())

dict_items([('Name', 'Hitesh'), ('Age', '19'), ('EmailID', 'hitesh25choudhary@gmail.com'), ('MobileNumber', '9722458266')])

In [0]:
user1 = {'Name':'Hitesh','Age':'19','EmailID':'hitesh25choudhary@gmail.com','MobileNumber':'9722458266'}
user2 = user1.copy()
print(user1.values())
print(user2.values())

dict_values(['Hitesh', '19', 'hitesh25choudhary@gmail.com', '9722458266'])
dict_values(['Hitesh', '19', 'hitesh25choudhary@gmail.com', '9722458266'])

**String formatting**

%s and %d is used

In [0]:
lst = ['python','programming']
print("%s %s"%(lst[0],lst[1]))

python programming

In [0]:
lst = ['python','programming']
print("{0} {1}".format(lst[0],lst[1]))

python programming

In [0]:
lst = [1,2,3,4]
print("%d %d %d %d"%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [0]:
lst = [1,2,3,4]
print("Value at : {0} value at : {1}".format(lst[0],lst[1]))
print("Value at : {0} value at : {1}".format(lst[2],lst[3]))

Value at : 1 value at : 2
Value at : 3 value at : 4

**Contact Application**


1. Add new contact ----done

2. search for contact----done

3. List of all contacts----done

   3.1 Name1-phone1
   
   3.2 Name2- phone2
   
   3.3 Importing new contact----done
   
   3.4 Merge to existing contacts 
   
 4. remove contact----done
 
 5. Modify conatact-----done

In [0]:
contact = {}
def addContact(name,phone):
  #verify the contact doesnot already exists
  if name not in contact:
    contact[name] = phone
    print("contact %s added" % name)
  else:
    print("contact %s already exists" % name)
    
  return 

addContact("Hitesh",9009843211)
addContact("Hitesh",9009843211)
addContact("Siddharth",9962482263)

contact Hitesh added
contact Hitesh already exists
contact Siddharth added

In [0]:
#search for ma particular contact from contact list

def searchContact(name):
  if name in contact:
    print(name," : " , contact[name])
  else:
    print("%s is not exists" % name)
  return

searchContact("Hitesh")
searchContact("Siddharth")
searchContact("Megha")

Hitesh  :  9009843211
Siddharth  :  9962482263
Megha is not exists

In [0]:
#New contact is given as a dictionary
print(contact)

{'Hitesh': 9009843211, 'Siddharth': 9962482263}

In [0]:
#New contact is given as a dictionary
#Merge new contact with existing contact list
def importContact(newContact):
  contact.update(newContact)
  print(len(newContact.keys()),"Contact added successfully")
  return
newContact = {'Muzammil':8008976551,'Taha':9988776655}
importContact(newContact)

2 Contact added successfully

In [0]:
print(contact)

{'Hitesh': 9009843211, 'Siddharth': 9962482263, 'Dinesh': 8008976544, 'Ajay': 9988776655, 'Muzammil': 8008976551, 'Taha': 9988776655}

In [0]:
#remove a contact from contact list
def deleteContact(name):
  if name in contact:
    del contact[name]
    print(name,": is deleted from contact list")
  else:
    print(name," is not exists in contact list")
  return
deleteContact("Dinesh")
deleteContact("Ajay")
deleteContact("Muzammil")
deleteContact("Taha")

Dinesh : is deleted from contact list
Ajay : is deleted from contact list
Muzammil : is deleted from contact list
Taha : is deleted from contact list

In [0]:
print(contact)

{'Hitesh': 9009843211, 'Siddharth': 9962482263}

In [0]:
#Modify contact from contact list
def modifyContact(name,phone):
  if name in contact:
    contact[name] = phone
    print(name,"Modified with new phone number")
  else:
    print(name,"Does not exists in contact")
  return

modifyContact("Hitesh",9962441216)
modifyContact("Siddharth",9988776655)
modifyContact("Megha",8877665544)

Hitesh Modified with new phone number
Siddharth Modified with new phone number
Megha Does not exists in contact

**Pakages and modules**

**Package**:-It is collection of modules(python file.py)

**Sub packages**:-Its part of main package

**Module**:- A single python file contains set of operations(Functions)

*Package => Sub package => Modules => Functions*

*#Standard Lib - - Math *

In [0]:
from math import floor as f1
f1(123.456)

123

In [0]:
from math import factorial as fact
fact(5)

120

In [0]:
import math
math.factorial(5)

120

In [0]:
#generate the random numbers between two limits
import random
def generateRandomNumbers(n,lb,ub):
  for i in range(0,n):
    print(random.randint(lb,ub),end=" ")
  return
generateRandomNumbers(10,12,120)

65 92 107 82 98 23 54 77 29 47

**Assignment:**

1.Use math package - - Extract minimum of 10 functions

2.Use random package - - Extract minimum of 10 functions

In [0]:
#Extracting minimum 10 functions in random
import math

4

In [0]:
#Extracting minimum 10 functions